@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');


body {
    background: linear-gradient(-45deg, #f686b3, #fb0066, #64278f, #191b28);
    background-size: 400% 400%;
    animation: gradient 7s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.title {
    font-family: 'Orbitron', sans-serif;
    font-size: 50px;
    margin: auto;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
    background-color: #ffffff90;
    border-radius: 20px;
    width: 450px;
    height: 70px;
    transition: 100ms;
}

.title:hover {
    font-size: 52px;
}

.calculator {
    padding: 10px;
    margin: auto;
    margin-top: 15vh;
    width: 400px;
    height: 380px;
    background-color: #191b28;
    border-radius: 20px;
    transition: 100ms;
}

.calculator:hover {
    width: 420px;
    height: 400px;
}

.display-box {
    font-family: 'Orbitron', sans-serif;
    background-color: white;
    color: black;
    border-radius: 5px 0px 0px 5px;
    width: 100%;
    height: 65%;
    border: solid black 0.5px;
    background-color: aliceblue;
}

#btn {
    background-color: #fb0066;
}

#btn:active {
    background-color: #f686b3;
}

.button {
    font-family: 'Orbitron', sans-serif;
    background-color: #64278f;
    color: white;
    width: 100%;
    height: 75%;
    border-radius: 5px;
    outline: none;
    transition: 300ms;
}

.button:active {
    background: #acacac;
}

.button:hover {
    font-size: 15px;
}

.footer {
    font-family: 'Orbitron', sans-serif;
    font-size: 16px;
    text-align: center;
    position: fixed;
    bottom: 0px;
    left: 30px;
    border-radius: 5px;
    background-color: #ffffff90;
    height: 23px;
    width: 185px;
    transition: 100ms;
}

.footer:hover {
    font-size: 17px;
}

.footer:active {
    font-size: 16.5px;
}

a {
    color: #207cd4;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: #adcae5;
}